<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybaits.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		 <mapper resource="mappers/member.xml"/>
		 <mapper resource="mappers/product.xml"/>
		 <mapper resource="mappers/order.xml"/>
		 <mapper resource="mappers/qna.xml"/>
		 <mapper resource="mappers/productqna.xml"/>
		 <mapper resource="mappers/review.xml"/>
		 <mapper resource="mappers/admin.xml"/>
	</mappers>
</configuration>